{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": 1,
    "no-console": 1,
    "indent": [
      2,
      2
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "extends": "airbnb/base"
}
